body{
    --main-color-hover: #2196F3;
    --main-color-tittle: #212121;
    --main-color-text: #757575;

    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif;
}
.link{
    text-decoration: none;
}
/* header */
.logo{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    color:var(--main-color-tittle)



}
.menu .accent{
    color: var( --main-color-hover);
}
